.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.homepageInfo{
    width: 80%;
    height: 50%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005059;
    color: white;
}
.registrationInfo{
    background-color: #bea150;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.stenographyimfo{
    width: 50%;
    height: 100%;
    padding: 15px;
    text-align: justify;
}
.homepgmargin{
    height: 95%;
    width: 2px;
    background-color: rgb(255, 255, 255);
}